

div.page#page-home
      header(class='bp-header cf card1')
       span.bp-header__present Shobba
       span(class='fas fa-info-circle' data-content='shobba supplier')
       h1.bp-header__title Shobba planet
       p.bp-headder__desc Add fun to your drinks with our new and improved boba's and bobo's