body
  nav.pages-nav
    div.pages-nav__item
      a(class='link link--page' href='#page-home') Home
    div.pages-nav__item
      a(class='link link--page' href='#page-shop') Shop
        include ../svgs/shopicon.pug
    div.pages-nav__item
      a(class='link link--page' href='#page-news') News
    div.pages-nav__item
      a(class='link link--page' href='#page-account') Acount
    div.pages-nav__item
      a(class='link link--page' href='#page-cart') Shoppingcart
    div.pages-nav__item
      a(class='link link--page' href='#page-info') Product Info
    div(class='pages-nav__item pages-nav__item--small')
      a(class='link link--page link--faded' href='#') Faq
    div(class='pages-nav__item pages-nav__item--small')
      a(class='link link--page link--faded' href='#') Contact Us
    div(class='pages-nav__item pages-nav__item--small')
      a(class='link link--page link--faded' href='#') About Us
    div(class='pages-nav__item pages-nav__item--social')
      a(class='link link--social link--faded' href='#') 
        i(class='fa fa-twitter')
      span.text-hidden Twitter
      a(class='link link--social link--faded' href='#') 
        i(class='fa fa-instagram')
      span.text-hidden Instagram
      a(class='link link--social link--faded' href='#') 
        i(class='fa fa-facebook')
      span.text-hidden Facebook
      a(class='link link--social link--faded' href='#') 
        i(class='fab fa-tiktok')
      span.text-hidden Tik Tok