div.page#page-shop
      header(class='bp-header cf')
        h1.bp-header__title Shop
        p.bp-header__desc Choose your Product
        p.info= `You can enjoy your drink with our perfectly flavoured boba,of choice \nor enjoy your spiced up drink with our fun to pop bobo's`
